:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-background: #FFF;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 8.60);
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {
    font-family: Roboto;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-div{
    display: flex;
}

.header-logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.style1 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 93px;
}

.head-pages {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.head-pages:hover {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 344px;
}

.head-link {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.head-link:hover {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.hero {
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--main-background);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: 236px;
    margin-right: 236px;
}

.hero-button {
    color: var(--main-background);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}

.hero-button {
    margin-left: 476px;
    margin-right: 476px;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.information{
    padding-top: 94px;
}

.information-list{
    flex-shrink: 0;
    display: flex;
}

.information-item{
    width: 270px;
    flex-shrink: 0;
}

.information-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.information-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.work{
    padding-top: 94px;
}

.work-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.work-list{
    display: flex;
    gap: 30px;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-headlines {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.team-list{
    display: flex;
    gap: 30px;
}

.team-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    text-align: center;
    padding-top: 30px;
}

.team-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    text-align: center;
    padding-top: 10px;
}

.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--main-background);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address-link {
    color: var(--main-background);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-link {
    color: var(--footer-number);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

/* .footer-list{
    #
} */

.offers{
    padding-top: 94px;
    padding-bottom: 114px;
}

.offers-buttons{
    display: flex;
    gap: 8px;
    padding-left: 400px;
    flex-shrink: 0;
}

.offers-list {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    /* display: flex; */
    gap: 30px;
    margin-top: 50px;
}

.offers-button {
    border-radius: 4px;
    background: var(--team-background);
}

.offers-list:hover {
    color: var(--main-background);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}

.offers-button:hover {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.offers-span {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height:1.62;
    letter-spacing: 0.48px;
}

.offers-span:hover {
    color: var(--main-background);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}

.offers-list{
    display: flex;
    flex-wrap: wrap;
}

.offers-item{
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    
}

.offers-img{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.offers-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.offers-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 512;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}