:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-background: #FFF;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 8.60);
}

.style1 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.style2 {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.head-pages {
    color: var(--logo-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.head-pages:hover {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.head-addres {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.head-addres:hover {
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.hero {
    background-color: var(--footer-background);
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
}

.hero-title {
    color: var(--main-background);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button-child {
    color: var(--main-background);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
}

.hero-button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.information-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.information-text {
    color: var(--added-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
}

.work-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}


