ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.head__link, .head:hover, .head:focus, .head__pages {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.24px;
}

.header {
  padding: 16px 0px;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__div {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__span {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header__list {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}

.nav__list {
  list-style: none;
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__iten {
  position: relative;
}
.nav__iten:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: -35px;
  border-radius: 2px;
}
.nav__list .nav__iten:first-child .head__pages {
  color: #2196F3;
}

.head__pages {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head:hover, .head:focus {
  color: #2196F3;
}
.head__link {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  color: #757575;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .head__link {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.head__link:hover {
  color: #2196F3;
}
.head__link:hover, .head__link .head__link:focus {
  color: #2196F3;
}
.head__link:hover .head__icon, .head__link .head__link:focus .head__icon {
  fill: #2196F3;
}
.head__icon {
  fill: #757575;
  width: 16px;
  height: 12px;
}
.head__icon__phone {
  width: 10px;
  height: 16px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
.hero__title {
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 390px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__span {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
}
.hero__button {
  border-radius: 4px;
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 24px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.information {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .information {
    padding-top: 94px;
  }
}
.information__list {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.information__item {
  width: 100%;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .information__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .information__item {
    width: 270px;
  }
}
.information__item::before {
  width: 100%;
  content: "";
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
@media screen and (min-width: 768px) {
  .information__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .information__item::before {
    width: 270px;
  }
}
.information__item:nth-child(1)::before {
  background-image: url(../imeges/antenna.jpg);
}
.information__item:nth-child(2)::before {
  background-image: url(../imeges/clock.jpg);
}
.information__item:nth-child(3)::before {
  background-image: url(../imeges/diagram.jpg);
}
.information__item:nth-child(4)::before {
  background-image: url(../imeges/astronaut.jpg);
}
.information__title {
  color: #212121;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .information__title {
    text-align: start;
  }
}
.information__text {
  width: 100%;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 10px;
}
@media screen and (min-width: 480px) {
  .information__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .information__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .information__text {
    width: 270px;
  }
}

.work {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
  text-align: center;
}
.work__img {
  width: 100%;
  height: auto;
  display: block;
}
.work__description {
  font-family: Roboto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  padding: 27px 0;
  text-align: center;
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__headlines {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team__div {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  text-align: center;
}
.team__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team__linkss {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;
}
.team__link:hover, .team__link:focus {
  background-color: #2196F3;
  fill: #FFF;
}
.team__link:hover .team__networks, .team__link:focus .team__networks {
  fill: #FFF;
}
.team__networks {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
.team__img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.regular {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .regular {
    padding: 94px 0;
  }
}
.regular__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .regular__title {
    margin-bottom: 50px;
  }
}
.regular__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px 0;
}
@media screen and (max-width: 480px) {
  .regular__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.regular__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 16px 0;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .regular__link {
    padding: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .regular__link {
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .regular__link {
    padding: 16px 32px;
  }
}
.regular__svg {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}

a.regular__link:hover,
a.regular__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

a.regular__link:hover .regular__svg,
a.regular__link:focus .regular__svg {
  fill: #2196F3;
  border-color: #2196F3;
}

.address__div {
  display: grid;
  gap: 9px;
}
.address__link {
  color: #FFF;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address__link:hover {
  color: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__address {
  margin-top: 20px;
  font-style: normal;
}
.footer__list {
  margin-top: 9px;
  display: grid;
  gap: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__link:hover {
  color: #2196F3;
}
.footer__link:hover .team-networks {
  fill: #FFF;
}
.footer__linkss {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__linkk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 50%;
  padding: 12px;
  width: 44px;
  height: 44px;
  fill: #FFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__linkk:hover {
  background-color: #2196F3;
}
.footer__address {
  display: flex;
}

.div__footer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-direction: row;
}

.box__footer {
  margin-left: 70px;
}

.mailing__div {
  margin-left: 93px;
}
.mailing__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.mailing__boxx {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.mailing__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-left: 16px;
  resize: none;
}
.mailing__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  padding: 10px 28px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.mailing__svg {
  fill: #FFF;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  opacity: 1;
}

.is__hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal__title {
  width: 370px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
  }
}
.modal__label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__box {
  position: relative;
}
.modal__box:hover {
  fill: #2196F3;
}
.modal__box:hover .modal__input {
  border-color: #2196F3;
}
.modal__input {
  width: 370px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  display: block;
  margin-bottom: 10px;
  padding-left: 42px;
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}
.modal__inputt {
  width: 370px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal__inputt {
    width: 448px;
  }
}
.modal__comment {
  width: 370px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  display: block;
  margin-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .modal__comment {
    width: 448px;
  }
}
.modal__check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.modal__checkbox {
  width: 16px;
  height: 15px;
}
.modal__span {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.36px;
  margin-left: 8px;
  margin-right: 4px;
}
@media screen and (min-width: 1200px) {
  .modal__span {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
.modal__link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
.modal__btn {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  padding: 10px 52px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__btn {
    margin-left: 124px;
    margin-right: 124px;
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}
@media screen and (max-width: 480px) {
  .modal__close {
    right: 38px;
  }
}
.modal__close:hover .modal__exit, .modal__close:focus .modal__exit {
  fill: #2196F3;
}
.modal__exit {
  width: 11px;
  height: 11px;
  fill: black;
}

.svg__box {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.offers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.offers__buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.offers__list {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  gap: 30px;
  margin-top: 50px;
  display: grid;
}
.offers__button {
  border-radius: 4px;
  background-color: #F5F4FA;
  border-color: #F5F4FA;
  padding: 6px 22px;
  border: none;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.offers__button:hover {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.offers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.offers__list:hover {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}
.offers__item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #EEE;
}
.offers__img {
  width: 100%;
  height: auto;
  display: block;
}
.offers__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.offers__img {
  width: 100%;
}
.offers__div {
  padding: 20px 24px;
}
.offers__title {
  color: #212121;
  font-size: 17px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.offers__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.item__offers {
  position: relative;
  overflow: hidden;
}
.item__offers:hover .text__offers {
  bottom: 0;
  opacity: 1;
}

.text__offers {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFF;
  padding: 63px 24px;
  box-sizing: border-box;
  opacity: 0;
  transition: bottom 0.3s ease, opacity 0.3s ease;
}/*# sourceMappingURL=main.css.map */