.address{
&__div {
    display: grid;
    gap: 9px;
}

&__link {
    color: $main-background;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

&__link:hover{
    color: $accent-color;
}
}

.footer {
    background-color: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;

&__logo {
    color: $main-background;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

&__address{
    margin-top: 20px;
    font-style: normal;
}

&__list{
    margin-top: 9px;
    display: grid;
    gap: 9px;
}

&__link {
    color: $footer-number;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

&__links__container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

&__text{
    color: $main-background;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&__linkk {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    width: 44px;
    height: 44px;
    fill: $main-background;
    background-color: rgba(255, 255, 255, 0.10);
}

&__linkk:hover{
    background-color: $accent-color;
}

&__address{
    display: flex;
}

&__link:hover {
    color: $accent-color;
}

&__link:hover .team-networks {
    fill: $main-background;
}
}

.div__footer{
    display: flex;
    align-items: baseline;
}

.box__footer{
    margin-left: 70px;
}

.mailing{
&__div{
    margin-left: 93px;
}

&__text{
    color: $main-background;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&__boxx{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

&__input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-left: 16px;
    resize: none;
}

&__button{
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $main-background;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    padding: 10px 28px;
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

&__svg{
    fill: $main-background;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
}