.address{
&__div {
    @media screen and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    @media screen and (min-width:1200px) {
        display: grid;
        gap: 9px;
    }
}

&__link {
    color: $main-background;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    white-space: nowrap;

&:hover{
    color: $accent-color;
}
}
}

.footer {
    background-color: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;

&__box{
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1199px) {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        text-align: center;
    }
}

&__logo {
    color: $main-background;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

&__address{
    margin-top: 20px;
    font-style: normal;
}

&__list{
    margin-top: 9px;
    display: grid;
    gap: 9px;
}

&__link {
    color: $footer-number;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;

&:hover {
    color: $accent-color;
}

&:hover .team-networks {
    fill: $main-background;
}
}

&__linkss {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

&__text{
    color: $main-background;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&__linkk {
    @include flax($wrap:nowrap);
    border-radius: 50%;
    padding: 12px;
    width: 44px;
    height: 44px;
    fill: $main-background;
    background-color: rgba(255, 255, 255, 0.10);

&:hover{
    background-color: $accent-color;
}
}

&__address{
    display: flex;
}

&__block{

    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }

    @media screen and (max-width: 1199px) {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
    }
}
}

.div__footer{
    @include flax($justify:center, $align:baseline);
    
    @media screen and (max-width: 768px) {
        gap: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.box__footer{

    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }

    @media screen and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.mailing{
&__div{
    @media screen and (max-width: 479px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px; 
    }
}

&__text{
    color: $main-background;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&__boxx{
    margin-top: 20px;
    @include flax($flex: block);

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
    }
}

&__input{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-left: 16px;
    resize: none;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

&__button{
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $main-background;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    padding: 10px 28px;
    margin: 20px auto 0 auto;
    @include flax($wrap:nowrap);

    @media screen and (min-width: 1200px) {
        margin: 0 0 0 12px;
    }
}

&__svg{
    fill: $main-background;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    @include flax();
}
}