.information{
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }

&__list{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

&__item{
    width: 100%;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }

&::before {
    width: 100%;
    content: "";
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background: $team-background;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

&:nth-child(1)::before{
    background-image: url(../imeges/antenna.jpg);
}

&:nth-child(2)::before {
    background-image: url(../imeges/clock.jpg);
}

&:nth-child(3)::before {
    background-image: url(../imeges/diagram.jpg);
}

&:nth-child(4)::before {
    background-image: url(../imeges/astronaut.jpg);
}
}

&__title {
    color: $title-color;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
        text-align: start;
    }
}

&__text {
    width: 100%;
    color: $added-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-top: 10px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
}