.offers {
    padding-top: 94px;
    padding-bottom: 94px;

&__buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

&__list {
    color: $title-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    gap: 30px;
    margin-top: 50px;
    display: grid;
}

&__button {
    border-radius: 4px;
    background-color: $team-background;
    border-color: $team-background;
    padding: 6px 22px;
    border: none;
    color: $title-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    
&:hover {
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    color: $main-background;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}
}

&__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

&:hover {
    color: $main-background;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}
}

&__item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEE;
}

&__img {
    width: 100%;
    height: auto;
    display: block;
}

&__item:hover{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

&__img {
    width: 100%;
}

&__div {
    padding: 20px 24px;
}

&__title {
    color: $title-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

&__text {
    color: $added-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}
}

.item__offers {
    position: relative;
    overflow: hidden;

&:hover .text__offers {
    bottom: 0;
    opacity: 1;
}
}

.text__offers {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    color: #FFF;
    padding: 63px 24px;
    box-sizing: border-box;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}